<div class="row">
    <h4 class="card">{{article.title}}</h4>
    <h5 class="card-panel articleContent">{{body}}</h5>
</div>

<div class="row">
    <div class="col"> </div>
    <form action="/comment/{{article.id}}" method="POST" class="card-panel col">
        <h5>Add a Note on this Article</h5>
        <div class="row">
            <div class="input-field">
                <input type="text" placeholder="Name" name="name" class="validate active">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Note" name="note" class="validate active">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <center>
                    <input class="btn add-note" type="submit" value="Submit">
                </center>
            </div>
        </div>
    </form>
</div> 

{{!-- <div class="row">
    <div class="col"></div>
    <div class="col s8">
        <h6>Notes</h6>
        {{#if article.note}}
        {{#each article.note}}
        <div class="card">
            <p class="nameNote"{{name}}></p>
            <p>{{body}}</p>
        </div>
        {{/each}}
        {{else}}
        <p>No notes yet.</p>
    </div>
</div> --}}